---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=Ogden,UT&key=<GOOGLE_MAPS_APIKEY>&origin=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJe02c2pQOU4cRLLM0e9fcYQA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 41.7891878,
                       "lng" : -104.9798668
                    },
                    "southwest" : {
                       "lat" : 39.7402272,
                       "lng" : -112.0097547
                    }
                 },
                 "copyrights" : "Map data ©2019 Google",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "514 mi",
                          "value" : 827429
                       },
                       "duration" : {
                          "text" : "7 hours 49 mins",
                          "value" : 28153
                       },
                       "end_address" : "Ogden, UT, USA",
                       "end_location" : {
                          "lat" : 41.2228001,
                          "lng" : -111.9738374
                       },
                       "start_address" : "Denver, CO, USA",
                       "start_location" : {
                          "lat" : 39.7411598,
                          "lng" : -104.9879112
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "157 ft",
                                "value" : 48
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 16
                             },
                             "end_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e toward \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "polyline" : {
                                "points" : "g}pqFlmx_S{@pA"
                             },
                             "start_location" : {
                                "lat" : 39.7411598,
                                "lng" : -104.9879112
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "282 ft",
                                "value" : 86
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 53
                             },
                             "end_location" : {
                                "lat" : 39.7409126,
                                "lng" : -104.9890212
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "c_qqF~ox_SlBjC"
                             },
                             "start_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
       [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.7411598,-104.9879112
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 203ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 243.021ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7411598,"longitude":-104.9879112,"timezone":"America/Denver","currently":{"time":1563381735,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":46,"nearestStormBearing":349,"precipIntensity":0,"precipProbability":0,"temperature":92.14,"apparentTemperature":92.14,"dewPoint":41.38,"humidity":0.17,"pressure":1007.29,"windSpeed":2.87,"windGust":7.04,"windBearing":90,"cloudCover":0.33,"uvIndex":7,"visibility":4.452,"ozone":290.1},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563381720,"precipIntensity":0,"precipProbability":0},{"time":1563381780,"precipIntensity":0,"precipProbability":0},{"time":1563381840,"precipIntensity":0,"precipProbability":0},{"time":1563381900,"precipIntensity":0,"precipProbability":0},{"time":1563381960,"precipIntensity":0,"precipProbability":0},{"time":1563382020,"precipIntensity":0,"precipProbability":0},{"time":1563382080,"precipIntensity":0,"precipProbability":0},{"time":1563382140,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
