---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=Ogden,UT&key=<GOOGLE_MAPS_APIKEY>&origin=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJe02c2pQOU4cRLLM0e9fcYQA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 41.7891878,
                       "lng" : -104.9798668
                    },
                    "southwest" : {
                       "lat" : 39.7402272,
                       "lng" : -112.0097547
                    }
                 },
                 "copyrights" : "Map data ©2019 Google",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "514 mi",
                          "value" : 827429
                       },
                       "duration" : {
                          "text" : "7 hours 49 mins",
                          "value" : 28153
                       },
                       "end_address" : "Ogden, UT, USA",
                       "end_location" : {
                          "lat" : 41.2228001,
                          "lng" : -111.9738374
                       },
                       "start_address" : "Denver, CO, USA",
                       "start_location" : {
                          "lat" : 39.7411598,
                          "lng" : -104.9879112
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "157 ft",
                                "value" : 48
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 16
                             },
                             "end_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e toward \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "polyline" : {
                                "points" : "g}pqFlmx_S{@pA"
                             },
                             "start_location" : {
                                "lat" : 39.7411598,
                                "lng" : -104.9879112
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "282 ft",
                                "value" : 86
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 53
                             },
                             "end_location" : {
                                "lat" : 39.7409126,
                                "lng" : -104.9890212
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "c_qqF~ox_SlBjC"
                             },
                             "start_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
       [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.7411598,-104.9879112
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 229ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 295.274ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7411598,"longitude":-104.9879112,"timezone":"America/Denver","currently":{"time":1563332665,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":27,"nearestStormBearing":255,"precipIntensity":0,"precipProbability":0,"temperature":85.66,"apparentTemperature":85.66,"dewPoint":47.9,"humidity":0.27,"pressure":1006.78,"windSpeed":7.23,"windGust":13.63,"windBearing":155,"cloudCover":0.24,"uvIndex":0,"visibility":3.233,"ozone":287.2},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563332640,"precipIntensity":0,"precipProbability":0},{"time":1563332700,"precipIntensity":0,"precipProbability":0},{"time":1563332760,"precipIntensity":0,"precipProbability":0},{"time":1563332820,"precipIntensity":0,"precipProbability":0},{"time":1563332880,"precipIntensity":0,"precipProbability":0},{"time":1563332940,"precipIntensity":0,"precipProbability":0},{"time":1563333000,"precipIntensity":0,"precipProbability":0},{"time":1563333060,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/41.2228001,-111.9738374
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 771ms
      X-Forecast-Api-Calls:
      - '6'
      X-Response-Time:
      - 499.118ms
    body:
      encoding: UTF-8
      string: '{"latitude":41.2228001,"longitude":-111.9738374,"timezone":"America/Denver","currently":{"time":1563332665,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":2,"nearestStormBearing":82,"precipIntensity":0,"precipProbability":0,"temperature":82.56,"apparentTemperature":82.56,"dewPoint":41.88,"humidity":0.24,"pressure":1003.79,"windSpeed":2.78,"windGust":2.78,"windBearing":350,"cloudCover":0.25,"uvIndex":0,"visibility":10,"ozone":306},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563332640,"precipIntensity":0,"precipProbability":0},{"time":1563332700,"precipIntensity":0,"precipProbability":0},{"time":1563332760,"precipIntensity":0,"precipProbability":0},{"time":1563332820,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.02,"precipType":"rain"},{"time":1563332880,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.03,"precipType":"rain"},{"time":1563332940,"precipIntensity":0.002,"precipIntensityError":0.001,"precipProbability":0.05,"precipType":"rain"},{"time":1563333000,"precipIntensity":0.002,"precipIntensityError":0.001,"precipProbability":0.07,"precipType":"rain"},{"time":1563333060,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.1,"precipType":"rain"},{"time":1563333120,"preci[...]
