---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=Ogden,UT&key=<GOOGLE_MAPS_APIKEY>&origin=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJe02c2pQOU4cRLLM0e9fcYQA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 41.7891878,
                       "lng" : -104.9798668
                    },
                    "southwest" : {
                       "lat" : 39.7402272,
                       "lng" : -112.0097547
                    }
                 },
                 "copyrights" : "Map data ©2019 Google",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "514 mi",
                          "value" : 827429
                       },
                       "duration" : {
                          "text" : "7 hours 49 mins",
                          "value" : 28153
                       },
                       "end_address" : "Ogden, UT, USA",
                       "end_location" : {
                          "lat" : 41.2228001,
                          "lng" : -111.9738374
                       },
                       "start_address" : "Denver, CO, USA",
                       "start_location" : {
                          "lat" : 39.7411598,
                          "lng" : -104.9879112
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "157 ft",
                                "value" : 48
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 16
                             },
                             "end_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e toward \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "polyline" : {
                                "points" : "g}pqFlmx_S{@pA"
                             },
                             "start_location" : {
                                "lat" : 39.7411598,
                                "lng" : -104.9879112
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "282 ft",
                                "value" : 86
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 53
                             },
                             "end_location" : {
                                "lat" : 39.7409126,
                                "lng" : -104.9890212
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "c_qqF~ox_SlBjC"
                             },
                             "start_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
       [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.764335,-104.855113
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 988ms
      X-Forecast-Api-Calls:
      - '21'
      X-Response-Time:
      - 249.995ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.764335,"longitude":-104.855113,"timezone":"America/Denver","currently":{"time":1563392681,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":3,"nearestStormBearing":311,"precipIntensity":0,"precipProbability":0,"temperature":92.96,"apparentTemperature":92.96,"dewPoint":41.71,"humidity":0.17,"pressure":1006.63,"windSpeed":5.94,"windGust":12.01,"windBearing":182,"cloudCover":0.58,"uvIndex":8,"visibility":3.963,"ozone":289.4},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563392640,"precipIntensity":0,"precipProbability":0},{"time":1563392700,"precipIntensity":0,"precipProbability":0},{"time":1563392760,"precipIntensity":0,"precipProbability":0},{"time":1563392820,"precipIntensity":0,"precipProbability":0},{"time":1563392880,"precipIntensity":0,"precipProbability":0},{"time":1563392940,"precipIntensity":0,"precipProbability":0},{"time":1563393000,"precipIntensity":0,"precipProbability":0},{"time":1563393060,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/41.603545499999996,-109.1667095
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 547ms
      X-Forecast-Api-Calls:
      - '29'
      X-Response-Time:
      - 65.259ms
    body:
      encoding: UTF-8
      string: '{"latitude":41.603545499999996,"longitude":-109.1667095,"timezone":"America/Denver","currently":{"time":1563392685,"summary":"Foggy","icon":"fog","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":80.71,"apparentTemperature":80.71,"dewPoint":36.84,"humidity":0.21,"pressure":1009.75,"windSpeed":14.13,"windGust":21.66,"windBearing":285,"cloudCover":0.07,"uvIndex":10,"visibility":1.011,"ozone":312.2},"hourly":{"summary":"Foggy
        this afternoon and later this afternoon.","icon":"fog","data":[{"time":1563390000,"summary":"Foggy","icon":"fog","precipIntensity":0,"precipProbability":0,"temperature":79.01,"apparentTemperature":79.01,"dewPoint":37.62,"humidity":0.23,"pressure":1010.17,"windSpeed":12.54,"windGust":18.84,"windBearing":247,"cloudCover":0,"uvIndex":10,"visibility":1.236,"ozone":313.3},{"time":1563393600,"summary":"Foggy","icon":"fog","precipIntensity":0,"precipProbability":0,"temperature[...]
[...]
