---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.764335,-104.855113
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 161ms
      X-Forecast-Api-Calls:
      - '132'
      X-Response-Time:
      - 940.306ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.764335,"longitude":-104.855113,"timezone":"America/Denver","currently":{"time":1563659683,"summary":"Light
        Rain","icon":"rain","nearestStormDistance":0,"precipIntensity":0.056,"precipIntensityError":0.016,"precipProbability":1,"precipType":"rain","temperature":78.81,"apparentTemperature":78.89,"dewPoint":60.31,"humidity":0.53,"pressure":1011.65,"windSpeed":11.63,"windGust":20.36,"windBearing":48,"cloudCover":1,"uvIndex":4,"visibility":2.992,"ozone":295.1},"minutely":{"summary":"Light
        rain for the hour.","icon":"rain","data":[{"time":1563659640,"precipIntensity":0.056,"precipIntensityError":0.014,"precipProbability":1,"precipType":"rain"},{"time":1563659700,"precipIntensity":0.056,"precipIntensityError":0.017,"precipProbability":1,"precipType":"rain"},{"time":1563659760,"precipIntensity":0.059,"precipIntensityError":0.023,"precipProbability":1,"precipType":"rain"},{"time":1563659820,"precipIntensity":0.063,"precipIntensityError":0.027,"precipProbability":1,"precipType":"rain"},{"time":1563659880,"precipIntensity":0.[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.6572995,-106.089004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 766ms
      X-Forecast-Api-Calls:
      - '133'
      X-Response-Time:
      - 209.331ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.6572995,"longitude":-106.089004,"timezone":"America/Denver","currently":{"time":1563659685,"summary":"Foggy","icon":"fog","nearestStormDistance":4,"nearestStormBearing":161,"precipIntensity":0,"precipProbability":0,"temperature":73.28,"apparentTemperature":73.28,"dewPoint":38.97,"humidity":0.29,"pressure":1009.75,"windSpeed":6.82,"windGust":15.79,"windBearing":131,"cloudCover":0.46,"uvIndex":6,"visibility":1.751,"ozone":289.6},"minutely":{"summary":"Possible
        light rain starting in 30 min.","icon":"rain","data":[{"time":1563659640,"precipIntensity":0,"precipProbability":0},{"time":1563659700,"precipIntensity":0,"precipProbability":0},{"time":1563659760,"[...]
[...]
