---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.764335,-104.855113
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 504ms
      X-Forecast-Api-Calls:
      - '135'
      X-Response-Time:
      - 253.506ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.764335,"longitude":-104.855113,"timezone":"America/Denver","currently":{"time":1563664470,"summary":"Overcast","icon":"cloudy","nearestStormDistance":4,"nearestStormBearing":156,"precipIntensity":0,"precipProbability":0,"temperature":70.02,"apparentTemperature":70.14,"dewPoint":60.85,"humidity":0.73,"pressure":1014.73,"windSpeed":9.33,"windGust":22.2,"windBearing":302,"cloudCover":1,"uvIndex":2,"visibility":2.34,"ozone":292.8},"minutely":{"summary":"Overcast
        for the hour.","icon":"clear-day","data":[{"time":1563664440,"precipIntensity":0,"precipProbability":0},{"time":1563664500,"precipIntensity":0,"precipProbability":0},{"time":1563664560,"precipIntensity":0,"precipProbability":0},{"time":1563664620,"precipIntensity":0,"precipProbability":0},{"time":1563664680,"precipIntensity":0,"precipProbability":0},{"time":1563664740,"precipIntensity":0,"precipProbability":0},{"time":1563664800,"precipIntensity":0,"precipProbability":0},{"time":1563664860,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.6572995,-106.089004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 276ms
      X-Forecast-Api-Calls:
      - '136'
      X-Response-Time:
      - 222.174ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.6572995,"longitude":-106.089004,"timezone":"America/Denver","currently":{"time":1563664471,"summary":"Light
        Rain","icon":"rain","nearestStormDistance":0,"precipIntensity":0.035,"precipIntensityError":0.007,"precipProbability":1,"precipType":"rain","temperature":73.93,"apparentTemperature":73.93,"dewPoint":38.56,"humidity":0.28,"pressure":1011.52,"windSpeed":8.28,"windGust":17.48,"windBearing":258,"cloudCover":0.84,"uvIndex":3,"visibility":0,"ozone":288.9},"minutely":{"summary":"Light
        rain for the hour.","icon":"rain","data":[{"time":1563664440,"precipIntensity":0.036,"precipIntensityError":0.007,"precipProbability":1,"precipType":"rain"},{"time":1563664500,"precipIntensity":0.033,"precipIntensityError":0.007,"precipProbabil[...]
[...]
