---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.614431,-105.109927
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 549ms
      X-Forecast-Api-Calls:
      - '43'
      X-Response-Time:
      - 484.931ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.614431,"longitude":-105.109927,"timezone":"America/Denver","currently":{"time":1563228182,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":0,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.06,"precipType":"rain","temperature":82.4,"apparentTemperature":82.4,"dewPoint":49.69,"humidity":0.32,"pressure":1013.68,"windSpeed":12.78,"windGust":22.81,"windBearing":19,"cloudCover":0.74,"uvIndex":5,"visibility":3.485,"ozone":288.4},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563228180,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.06,"precipType":"rain"},{"time":1563228240,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.06,"precipType":"rain"},{"time":1563228300,"precipIntensity":0.002,"precipIntensityError":0,"precipProbability":0.06,"precipType":"rain"},{"time":1563228360,"precipIntensity":0.002,"precipIntensityError":0.001,"precipProbability":0.06,"precipType":"rain"},{"time":1563228420,"precipIntensity":0.[...]
