---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.614431,-105.109927
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 169ms
      X-Forecast-Api-Calls:
      - '15'
      X-Response-Time:
      - 360.542ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.614431,"longitude":-105.109927,"timezone":"America/Denver","currently":{"time":1563381736,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":54,"nearestStormBearing":358,"precipIntensity":0,"precipProbability":0,"temperature":90.29,"apparentTemperature":90.29,"dewPoint":39.79,"humidity":0.17,"pressure":1007.89,"windSpeed":3.62,"windGust":9.56,"windBearing":94,"cloudCover":0.35,"uvIndex":7,"visibility":4.275,"ozone":289},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563381720,"precipIntensity":0,"precipProbability":0},{"time":1563381780,"precipIntensity":0,"precipProbability":0},{"time":1563381840,"precipIntensity":0,"precipProbability":0},{"time":1563381900,"precipIntensity":0,"precipProbability":0},{"time":1563381960,"precipIntensity":0,"precipProbability":0},{"time":1563382020,"precipIntensity":0,"precipProbability":0},{"time":1563382080,"precipIntensity":0,"precipProbability":0},{"time":1563382140,"precipIntensity":0,"precipProbability":0},{"t[...]
