---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.614431,-105.109927
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 548ms
      X-Forecast-Api-Calls:
      - '7'
      X-Response-Time:
      - 286.670ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.614431,"longitude":-105.109927,"timezone":"America/Denver","currently":{"time":1563332666,"summary":"Foggy","icon":"fog","nearestStormDistance":20,"nearestStormBearing":276,"precipIntensity":0,"precipProbability":0,"temperature":81.78,"apparentTemperature":81.78,"dewPoint":47.43,"humidity":0.3,"pressure":1008.03,"windSpeed":7.6,"windGust":14,"windBearing":169,"cloudCover":0.19,"uvIndex":0,"visibility":0.001,"ozone":286.1},"minutely":{"summary":"Foggy
        for the hour.","icon":"clear-day","data":[{"time":1563332640,"precipIntensity":0,"precipProbability":0},{"time":1563332700,"precipIntensity":0,"precipProbability":0},{"time":1563332760,"precipIntensity":0,"precipProbability":0},{"time":1563332820,"precipIntensity":0,"precipProbability":0},{"time":1563332880,"precipIntensity":0,"precipProbability":0},{"time":1563332940,"precipIntensity":0,"precipProbability":0},{"time":1563333000,"precipIntensity":0,"precipProbability":0},{"time":1563333060,"precipIntensity":0,"precipProbability":0},{"t[...]
