---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=Seattle,WA&key=<GOOGLE_MAPS_APIKEY>&origin=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJVTPokywQkFQRmtVEaUZlJRA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 47.6063821,
                       "lng" : -104.9798668
                    },
                    "southwest" : {
                       "lat" : 39.7411598,
                       "lng" : -122.3322283
                    }
                 },
                 "copyrights" : "Map data ©2019 Google, INEGI",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "1,316 mi",
                          "value" : 2117468
                       },
                       "duration" : {
                          "text" : "19 hours 39 mins",
                          "value" : 70741
                       },
                       "end_address" : "Seattle, WA, USA",
                       "end_location" : {
                          "lat" : 47.6063821,
                          "lng" : -122.3322283
                       },
                       "start_address" : "Denver, CO, USA",
                       "start_location" : {
                          "lat" : 39.7411598,
                          "lng" : -104.9879112
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "157 ft",
                                "value" : 48
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 16
                             },
                             "end_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "html_instructions" : "Head \u003cb\u003enorthwest\u003c/b\u003e toward \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "polyline" : {
                                "points" : "g}pqFlmx_S{@pA"
                             },
                             "start_location" : {
                                "lat" : 39.7411598,
                                "lng" : -104.9879112
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "282 ft",
                                "value" : 86
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 53
                             },
                             "end_location" : {
                                "lat" : 39.7409126,
                                "lng" : -104.9890212
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eCleveland Pl\u003c/b\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "c_qqF~ox_SlBjC"
                             },
                             "start_location" : {
                                "lat" : 39.7414646,
                                "lng" : -104.9883164
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
       [...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_APIKEY>/39.7411598,-104.9879112
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 85ms
      X-Forecast-Api-Calls:
      - '46'
      X-Response-Time:
      - 223.687ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7411598,"longitude":-104.9879112,"timezone":"America/Denver","currently":{"time":1563298380,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":10,"nearestStormBearing":301,"precipIntensity":0,"precipProbability":0,"temperature":85.8,"apparentTemperature":85.8,"dewPoint":49.5,"humidity":0.29,"pressure":1010.31,"windSpeed":5.54,"windGust":10.98,"windBearing":49,"cloudCover":0.45,"uvIndex":8,"visibility":8.045,"ozone":292.3},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"clear-day","data":[{"time":1563298380,"precipIntensity":0,"precipProbability":0},{"time":1563298440,"precipIntensity":0,"precipProbability":0},{"time":1563298500,"precipIntensity":0,"precipProbability":0},{"time":1563298560,"precipIntensity":0,"precipProbability":0},{"time":1563298620,"precipIntensity":0,"precipProbability":0},{"time":1563298680,"precipIntensity":0,"precipProbability":0},{"time":1563298740,"precipIntensity":0,"precipProbability":0},{"time":1563298800,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
